.circulo{
    border-radius: 50%;
    height: 210px;
    height: 210px;
    border: 7px solid #fff;
    margin-top: 35%

}
.nav-side-menu {
  
    overflow: auto;
    //font-family: verdana;
    font-size: 20px;
    //font-weight: 200;
    background-color: #3490dc;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
  }
  .nav-side-menu .brand {
    background-color: #23282e;
    //line-height: 100px;
    display: block;
    text-align: center;
    //margin-top: 30px ;
    height: 35%;
    //font-size: 50px;
  }
  .nav-side-menu .toggle-btn {
    display: none;
  }
  .nav-side-menu ul,
  .nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 50px;
    cursor: pointer;
    
  }

  .nav-side-menu li {
    text-align: center;
   // border-left: 3px solid #3490dc;
    //border-bottom: 1px solid #429eee;
  }
  .nav-side-menu li a {
    text-decoration: none;
    color: #ffffff;
  }
  .nav-side-menu li a i {
    //padding-left: 25%;
    width: 20px;
    padding-right: 10%;
  }
  .nav-side-menu li:hover {
    border-left: 3px solid 6cb2eb;
    background-color: #6cb2eb;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }

  .footercenter{
    margin-left:15%;
  }
  @media (max-width: 1150px) {
    .footercenter{
      margin-left:0%;
    }
      .circulo{
          display: none;
      }
    .nav-side-menu {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .nav-side-menu .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #3490dc;
      color: #ffffff;
      width: 40px;
      text-align: center;
    }
    /*.brand {
        height: -25%;
      text-align: left !important;
      font-size: 22px;
      padding-left: 20px;
      line-height: 50px !important;
    }*/
  }
  @media (min-width: 1150px) {
    .nav-side-menu .menu-list .menu-content {
      display: block;
    }
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  
  


  
  @media (max-width: 1150px) {
   
  .sub-line ul .sub-press li,
  .sub-line li .sub-press li {
    background-color: #181c20;
    border: none;
    line-height: 28px;
    border-bottom: 1px solid #23282e;
    margin-left: 0px;
  }
  .sub-line ul .sub-press li:hover,
  .sub-line li .sub-press li:hover {
    background-color: #020203;
  }
  .sub-line ul .sub-press li:before,
  .sub-line li .sub-press li:before {
    font-family: Arial;
    content: "\f105";
    display: inline-block;
    padding-left: 50px;
    padding-right: 10px;
    vertical-align: middle;
  }
  
  .sub-line li {
    padding-left: 20px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
  }
  .sub-line li a {
    text-decoration: none;
    color: #e1ffff;
  }
  .sub-line li a i {
    padding-left: 50px;
    width: 20px;
    padding-right: 20px;
  }
  .sub-line li:hover {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
  @media (max-width: 1150px) {
    .sub-line {
      position: relative;
      width: 100%;
      margin-bottom: 10px;
    }
    .sub-line .toggle-btn {
      display: block;
      cursor: pointer;
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 10 !important;
      padding: 3px;
      background-color: #ffffff;
      color: #000;
      width: 40px;
      text-align: center;
    }
}
  }
  