.bodyFondo {
    background: #444;
    margin: 0;
    font-family: monospace;
}

.h1Titulo {
    color: #fff;
    text-align: center;
}

.galeria {
    width: 90%;
    margin: auto;
    list-style: none;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.galeria li {
    margin: 5px;
}

.galeria img {
    width: 150px;
    height: 100px;
}

/*modal*/

.modal {
    display: none;
}

.modal:target {
    display: block;
    //visibility: visible;
    //visibility: unset;
    //visibility: visible;
    opacity: 1;
    transition: all 0.5s;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

}

.prueba {
    text-align: center;
    height: 20%;
}

.imagen {
    width: 100%;
    height: 50%;
    //height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen a {
    color: #fff;
    font-size: 40px;
    text-decoration: none;
    margin: 0 10px;
}

.imagen a:nth-child(2) {
    margin: 0;
    width: auto;
    height: auto;
    flex-shrink: 2;
}

.imagen img {
    width: 550px;
    height: 50%;
    max-width: 100%;
    border: 7px solid #fff;
    box-sizing: border-box;
}

.cerrar {
    display: block;
    background: #fff;
    width: 35px;
    //position: relative;
    //height: 40px;
    margin: 50px auto;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    padding: 5px;
    border-radius: 50%;
    line-height: 25px;
}

.zoom{
    transition: transform .2s;
}

.zoom:hover {
    -ms-transform: scale(1.1); /* IE 9 */
    -webkit-transform: scale(1.1); /* Safari 3-8 */
    transform: scale(1.1); 
  }

  //Animacion

  .animacion{
      opacity: 0;
      transition: all 1s;
  }

  .animacion2{
    opacity: 0;
    transition: all 1s;
  }